body {
    font-family: Arial, sans-serif;
    background-color: #DEB887; /* Adjust the color to match your wireframe */
    color: #333;
    margin: 0;
    padding: 0;
}

#logo{
    border-radius: 10em;
}

header {
    background: #F4A460;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

#login-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding-right: 3em;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #8B4513;
    color: white;
}

#logo, #login-container, nav ul {
    margin-left: auto;
    margin-right: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul {
        padding: 0;
    }

    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #login-container {
        width: 90%;
    }
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s linear infinite;
  }

  .loaderContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }